@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 20px;
        }
        &__skills {
            column-gap: 20px;
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
            &-item {
                grid-template-columns: 40px 205px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 40px 20px 0 20px;
            column-gap: 80px;
        }
    }
    .skills {
        &__items {
            grid-template-columns: repeat(auto-fit, 270px);
            justify-content: space-between;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 350px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: space-between;
            padding: 0 30px;
        }
    }
    .portfolio {
        &__wrapper {
            padding: 0 60px 0 60px;
            grid-template-columns: repeat(auto-fit, minmax(auto, 280px));
            grid-auto-rows: 280px;
            justify-content: space-around;
        }
    }
    .contacts {
        &__wrapper {
            padding: 10px;
            grid-template-columns: 400px 520px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
            line-height: 42px;
            margin-top: 26px;
        }
    }
    .divider {
        margin: 15px auto 0 auto;
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px,auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        &__wrapper {
            column-gap: 50px;
            grid-template-columns: repeat(2,330px);
        }
        &__item {
            min-height: 195px;
        }
    }
    .skills {
        &__items {
            padding: 0 30px;
            justify-content: space-around;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 320px);
            justify-content: space-between;
            padding: 0;
            column-gap: 0;
            &-line {
                width: 100%;
            }
        }
    }
    .portfolio {
        &__wrapper {
            padding: 0;
            grid-template: repeat(3, 130px) / repeat(3, 200px);
            grid-auto-rows: 150px;
            gap: 30px;
            .vertical {
                &_first {
                    grid-row: 1 / 4;
                }
                &_second {
                    grid-row: 1 / 4;
                }
                &_third {
                    grid-row: 1 / 4;
                }
            }
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 290px);
            padding: 0;
            justify-content: space-around;
        }
        &__item {
            grid-template: 21px minmax(21px, auto) / repeat(2, auto);
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 185px);
        }
        &__btn {
            padding: 8px 25px;
            line-height: 16px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
            img {
                object-fit: cover;
            }
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 210px;
                column-gap: 10px;
            }
        }
    }
    .resume {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 1fr;
            column-gap: 60px;
            row-gap: 40px;
        }
    }
    .skills {
        padding-top: 40px;
        &__items {
            margin-top: 40px;
            padding: 0;
            justify-content: center;
            gap: 20px;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 320px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: center;
            margin-top: 40px;
            &-line {
                width: 100%;
            }
        }
    }
    .portfolio {
        padding-top: 60px;
        &__wrapper {
            margin-top: 40px;
            padding: 0;
            grid-template: repeat(auto-fit, 160px) / repeat(3, 160px);
            grid-auto-rows: 160px;
            row-gap: 30px;
            .vertical {
                &_first {
                    grid-row: 1 / 2;
                }
                &_second {
                    grid-row: 1 / 2;
                }
                &_third {
                    grid-row: 1 / 2;
                }
            }
        }
    }
    .price {
        padding-top: 60px;
        &__wrapper {
            margin-top: 35px;
            justify-content: center;        
            row-gap: 30px;
        }
    }
    .contacts {
        padding-top: 40px;
        &__photo {
            display: none;
        }
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 25px;
        }
        &_fz36 {
            font-size: 24px;
            line-height: 36px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        background: url('../img/Background_My.jpg') no-repeat 49%/cover;
        &__title {
            width: 283px;
        }
        &__btns {
            margin-top: 30px;
        }
        .link_about {
            background-color: #168EE4;
            padding: 0 5px;
            opacity: 0.5;
        }
    }
    .about {
        &__wrapper {
            grid-template: 300px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .resume {
        &__wrapper {
            padding: 40px 5px 0 5px;
        }
    }
    .skills {
        &__items {
            margin-top: 20px;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit,283px);
        }
    }
    .portfolio {
        padding-top: 60px;
        &__wrapper {
            margin-top: 40px;
            grid-template: 200px / repeat(auto-fit, 200px);
            grid-auto-rows: 200px;
            justify-content: center;
            .vertical {
                &_first {
                    grid-row: unset;
                }
                &_second {
                    grid-row: unset;
                }
                &_third {
                    grid-row: unset;
                }
            }
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
        }
    }
    .contacts {
        padding-bottom: 50px;
        &__form {
            grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
        }
        &__textarea {
            grid-column: unset;
            width: 100%;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
            column-gap: unset;
            row-gap: 20px;
        }
        &__btn {
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }
        &__policy {
            width: 180px;
            margin: 0 auto;
            line-height: 18px;
        }
    }
}